{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books page</title>
    <link rel="stylesheet" href="{% static 'books.css' %}">
</head>
<body>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.first_name }} {{ user.last_name }} !</p>
        <p>Role: {{ user.role }}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <h1>Books</h1>
    {% for book in book_list %}
        <div>
            <a href="{% url 'book_info' book.id %}">name: {{ book.name }}</a>
        </div>
    {% endfor %}

    <h1>Add a new book</h1>
    <form method="post">
        {% csrf_token %}
        <label>book name</label>
        <input type="text" name="book_name" required>

        <label>author name</label>
        <input type="text" name="author_name" required>

        <button type="submit">Add Book</button>
    </form>

</body>
</html>