{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>Hello !</div>

    <form class="form_style" action="">

        <label for="phone">phone</label>
        <input id="phone" type="text">

        <label for="fname">fname</label>
        <input id="fname" type="text">

        <label for="lname">lname</label>
        <input id="lname" type="text">

        <label for=""></label>
        <input type="text">

    </form>

</body>
</html>